.action {
    @include action-box(35px, 35px);
    position: absolute;
    top: 12px;
    right: 12px;

    .action-outer-border {
        @include action-outer-border;
        transition: $transition;
    }

    .action-inner-border {
        @include action-inner-border;
    }

    .action-content {
        @include action-content;
        background: $special-color;
        transition: $transition;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        .action-outer-border {
            filter: drop-shadow(0 4px 8px $black-color);
        }

        .action-content {
            box-shadow: none;
        }
    }
}
