.action {
    @include action-box(50px, 50px);
    position: absolute;
    top: 6px;
    right: 6px;

    @media only screen and (min-width: 768px) {
        @include action-box(40px, 40px);
        top: 12px;
        right: 12px;
    }

    .action-outer-border {
        @include action-outer-border;
        border-radius: $radius-round;
        transition: $transition;
    }

    .action-inner-border {
        @include action-inner-border;
        border-radius: $radius-round;
    }

    .action-content {
        @include action-content;
        border-radius: $radius-round;
        background: $special-color;
        transition: $transition;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        .action-outer-border {
            filter: drop-shadow(0 4px 8px $black-color);
        }

        .action-content {
            box-shadow: none;
        }
    }
}
