.avatar-box {
    width: 100%;

    .avatar {
        position: relative;
        width: 10em;
        height: 10em;
    }

    .remove {
        top: 0.4em;
        right: 0.4em;
        width: 2em;
        height: 2em;
    }
}
