.avatar-box {
    width: 100%;

    .avatar {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .remove {
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
    }
}
