.button {
    width: auto;
    @include flex-center;
    gap: 0.4em;
    color: $primary-color;
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    transition: $transition-fast;

    &:not(.text) {
        padding: 0.4em 1.6em;
        @include flex-center;
        gap: 0.8em;
        background: $primary-color;
        color: $accent-color;
        border-radius: $radius-sm;
    }

    &:hover {
        @include icon-shadow($primary-color);
    }

    &:active {
        @include icon-shadow($primary-color);
    }
}
