.button {
    width: auto;
    @include flex-center;
    gap: 4px;
    color: $primary-color;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-align: left;
    transition: $transition-fast;

    @media only screen and (min-width: 1920px) {
        font-size: 20px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.small {
        font-size: 1.4em;
        line-height: 1.2;
    }

    &.action-color {
        color: $action-color;

        &:hover {
            @include icon-shadow($action-color);
        }

        &:active {
            @include icon-shadow($action-color);
        }
    }

    &:not(.text) {
        padding: 0.4em 1.6em;
        @include flex-center;
        gap: 0.8em;
        background: $primary-color;
        color: $accent-color;
        border-radius: $radius;
    }

    &.action-color:not(.text) {
        background: $action-color;
    }

    &:hover {
        @include icon-shadow($primary-color);
    }

    &:active {
        @include icon-shadow($primary-color);
    }
}
