.custom-select {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff20;
    border-radius: $radius;
    background: $background-color;
    transition: $transition;

    @media only screen and (min-width: 768px) {
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
        flex-direction: column;
        background: transparent;
    }

    &:hover {
        border-color: $white-color;
    }

    &.show {
        border-color: $white-color;

        .arrow-icon {
            transform: rotate(180deg);
        }

        .select-options {
            max-height: 200px;
        }
    }

    .select-action {
        padding: 9px 12px;

        @media only screen and (min-width: 768px) {
            padding: 12px 8px 12px 20px;
        }
    }

    .arrow-icon {
        color: $white-color;
        transition: $transition;
    }

    .flag-icon {
        width: 28px;
        height: 20px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .lang-text {
        display: none;

        @media only screen and (min-width: 768px) {
            margin: 0 16px 0 8px;
            display: inline-block;
            color: $white-color;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .select-options {
        max-height: 0;
        overflow: hidden;
        transition: $transition;
    }

    .select-item {
        padding: 9px 12px 0 12px;

        @media only screen and (min-width: 768px) {
            padding: 0 20px 12px 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }
    }
}
