// wrap component DatePicker with a class date-picker
.date-picker {
    width: 100%;

    .MuiFormControl-root {
        width: 100%;
    }

    .MuiFormHelperText-root {
        margin-left: 0;
    }

    .MuiInputLabel-root.Mui-focused {
        color: $primary-color;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $primary-color;
    }

    .MuiInputLabel-root.Mui-error {
        color: $primary-color;
    }

    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
        border-color: $primary-color;
    }

    &.clicked-on-submit {
        .MuiInputLabel-root.Mui-error {
            color: $action-color;
        }

        .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
            border-color: $action-color;
        }

        .MuiFormHelperText-root.Mui-error {
            color: $action-color;
        }
    }

    &.clicked-on-submit.error {
        .MuiInputLabel-root {
            color: $action-color;
        }

        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: $action-color;
        }

        .MuiFormHelperText-root {
            color: $action-color;
        }
    }
}
