.drag-n-drop {
    width: 100%;
    display: flex;
    flex-direction: column;

    .dropzone {
        padding: 5em;
        border: 2px dashed $special-color;
        cursor: pointer;
    }

    .text {
        font-size: 1.4em;
        color: $special-color;
        text-align: center;
        letter-spacing: 0.05em;

        strong {
            font-weight: 700;
        }
    }

    .item {
        position: relative;
        top: auto !important;
        left: auto !important;
        margin: 1.6em 0.8em 0;
        width: 6em;
        height: 6em;
        display: inline-block;

        img {
            border-radius: $radius-sm;
        }
    }
}
