.logo {
    margin-right: auto;
    width: fit-content;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 24px;

    @media only screen and (min-width: 768px) {
        width: 30px;
    }
}

.logo-name {
    font-family: $secondary-font-family;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: $primary-color;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
    }
}
