.logo {
    margin-right: auto;
    width: fit-content;

    .logo-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 24px;

        @media only screen and (min-width: 768px) {
            width: 30px;
        }
    }

    .name {
        width: 90px;
        object-fit: contain;

        @media only screen and (min-width: 768px) {
            width: 106px;
        }
    }
}
