.MuiPaper-root.MuiPopover-paper {
    border-radius: $radius-lg;
}

.MuiPaper-root.MuiMenu-paper {
    border-radius: $radius-md;
}

.popup {
    padding: 8px 16px;
    @include flex-column-left;

    .button {
        padding: 8px 0;
        width: 100%;
        justify-content: left;
        color: $primary-color;

        span {
            color: inherit;
        }
    }
}

.people-icon {
    margin-right: -6px;
    padding: 6px;
}
