.MuiPaper-root.MuiPopover-paper {
    border-radius: $radius-xl;
    background-color: $accent-light-color;
    background-image: unset;
    overflow: hidden;
}

.MuiPaper-root.MuiMenu-paper {
    background-image: unset;
}

.popup {
    padding: 8px;
    @include flex-column-left;

    .button {
        padding: 8px 16px;
        width: 100%;
        justify-content: left;
        color: $light-color;

        &:hover {
            background-color: $secondary-light-color;
        }

        span {
            color: inherit;
            line-height: 1;
            gap: 12px;
        }
    }
}

.people-icon {
    margin-right: -6px;
    padding: 6px;
}
