.switch {
    @include action-box(60px, 35px);

    .switch-outer-border {
        @include action-outer-border;
    }

    .switch-inner-border {
        @include action-inner-border;
    }

    .switch-content {
        @include action-content;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background: $action-color;
        transition: $transition-slow;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(calc(-100% + 0.1em), -50%);
            width: 1.9em;
            height: 1.9em;
            border-radius: $radius-round;
            background: linear-gradient(to bottom, $special-color, $secondary-color);
            box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                        inset 0 0 0 rgba(255, 255, 255, 0.1),
                        inset 0 0 2px rgba(255, 255, 255, 0.1);
            transition: $transition-slow;
        }

        &.checked {
            background: $primary-color;

            &::before {
                left: 0;
                transform: translate(-0.1em, -50%);
            }
        }
    }
}
