.title {
    @include flex-center;
    gap: 10px;
    color: $light-color;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.attention {
    color: $action-color;
}

.text {
    color: $light-color;
    font-size: 16px;
}

.text-lg {
    color: $light-color;
    font-size: 20px;
}

.name {
    color: $light-color;
    font-size: 16px;
    font-weight: 400;
    transition: $transition;

    &.selected {
        color: $primary-color;
        font-weight: 700;
    }
}

body .params {
    color: $special-color;
    width: 196px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
