.title {
    @include flex-center;
    gap: 1em;
    @include title;
}

.attention {
    color: $action-color;
}

.text {
    color: $light-color;
    font-size: 1.6em;
}

.text-lg {
    color: $light-color;
    font-size: 2em;
}

.name {
    color: $primary-color;
    font-size: 1.6em;
}

body .params {
    color: $special-color;
    font-size: 1.4em;
}
