.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    color: $light-color;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.attention {
    color: $action-color;
}

.text {
    color: $light-color;
    font-size: 16px;
}

.text-lg {
    color: $light-color;
    font-size: 20px;
}

.name {
    display: block;
    width: 196px;
    height: 24px;
    color: $light-color;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: $transition;

    &.selected {
        color: $primary-color;
        font-weight: 700;
    }
}

body .params {
    width: 196px;
    height: 19px;
    display: block;
    color: $special-color;
    font-size: 14px;
    line-height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
