.title {
    @include flex-center;
    gap: 1em;
    color: $white-color;
    font-size: 2.4em;
    font-weight: 700;

    i {
        color: $action-color;
        text-shadow: 0 0 5px $action-color, 0 0 25px $action-color;
    }
}
