.auth-page {
    gap: 4em;
    padding: 2em;

    .box {
        width: 60%;
    }

    .login-icon {
        @include icon-shadow($primary-color);
    }

    .favorite-icon {
        @include icon-shadow($action-color);
    }
}
