.auth-page {
    position: relative;
    width: 100%;
    height: 100svh;

    @media only screen and (min-width: 768px) {
        padding: 20px;
    }

    .auth-title {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        &.only-mobile {
            display: flex;

            @media only screen and (min-width: 768px) {
                display: none;
            }
        }

        &:not(.only-mobile) {
            display: none;

            @media only screen and (min-width: 768px) {
                display: flex;
            }
        }
    }

    .custom-select {
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
        flex-direction: column;
        background: $background-color;
        z-index: $z-index-9;

        .select-item {
            padding: 0 12px 9px 12px;

            @media only screen and (min-width: 768px) {
                padding: 0 20px 12px 20px;
            }
        }
    }

    .box {
        width: 100%;

        @media only screen and (min-width: 768px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 40px;
            width: 90%;
        }

        @media only screen and (min-width: 1024px) {
            width: 80%;
        }

        @media only screen and (min-width: 1366px) {
            width: 70%;
        }

        @media only screen and (min-width: 1440px) {
            width: 60%;
        }
    }

    .card-inner-border {
        border-width: 16px;

        @media only screen and (min-width: 412px) {
            border-width: 18px;
        }

        @media only screen and (min-width: 768px) {
            border-width: 20px;
        }
    }

    .form {
        @include flex-column;
        justify-content: center;
        height: 100%;
        gap: 20px;
    }

    .auth-page-divider {
        width: 100%;
        @include flex-center;
        gap: 10px;
        color: $special-color;

        &::before {
            content: '';
            flex: 1;
            border-top: 1px solid $special-color;
        }

        &::after {
            content: '';
            flex: 1;
            border-top: 1px solid $special-color;
        }
    }

    .actions {
        margin-top: -10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @media only screen and (min-width: 390px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            .forgot-password {
                margin-left: auto;
            }
        }
    }

    .auth-privacy-policy .button span {
        font-size: inherit;
    }

    .button:not(.text) {
        padding: 8px;

        @media only screen and (min-width: 360px) {
            padding: 8px 20px;
        }

        @media only screen and (min-width: 768px) {
            padding: 15px 27px;
        }
    }
}
