.instruction-page {
    width: 100%;
    min-height: 100svh;

    section {
        padding: 60px 16px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $light-color;

        @media only screen and (min-width: 768px) {
            padding: 90px 20px 40px;
        }

        &.logged-out {
            padding: 120px 16px 30px;

            @media only screen and (min-width: 500px) {
                padding: 90px 16px 30px;
            }

            @media only screen and (min-width: 768px) {
                padding: 90px 20px 40px;
            }

            @media only screen and (min-width: 1280px) {
                padding: 90px 0 40px;
            }
        }
    }

    h1 {
        font-size: 34px;
        font-weight: 700;
        text-align: center;
    }

    h2 {
        font-size: 26px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
    }

    .image-list {
        @include flex-column;
        gap: 20px;
    }

    .image-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
            min-height: 340px;
        }
    }

    .image-item + .image-item {
        padding-top: 20px;
        border-top: 1px dashed $primary-color;
    }

    .image-item-text {
        font-size: 18px;

        @media only screen and (min-width: 412px) {
            font-size: 20px;
        }

        @media only screen and (min-width: 768px) {
            font-size: 22px;
        }
    }

    .image {
        border: 2px solid $special-color;
        border-radius: $radius-md;
        overflow: hidden;

        @media only screen and (min-width: 768px) {
            min-width: 52%;
            width: 52%;
            max-width: 52%;
        }

        @media only screen and (min-width: 1366px) {
            min-width: 58%;
            width: 58%;
            max-width: 58%;
        }
    }
}

.instruction-full-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
