.not-found-page {
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-image: url('../../assets/images/invisible-gift.png'), radial-gradient(circle, $primary-color -300%, $background-color 50%);
    background-repeat: no-repeat;
    background-position: bottom right;

    .title {
        @include title;
        font-size: 8em;
        color: $primary-color;
    }

    .sub-title {
        @include title;
        font-size: 4em;
        color: $action-color;
    }

    .text {
        @include title;
        color: $primary-color;
    }

    .sub-text {
        @include title;
        font-size: 1.4em;
        color: $primary-color;
    }
}
