.privacy-policy {
    padding: 16px 16px 24px;
    color: $light-color;

    @media only screen and (min-width: 768px) {
        padding: 20px 20px 40px;
    }

    .privacy-policy-header {
        @include flex-between;
        gap: 10px;

        ul {
            list-style-type: none;
            padding: 0;
        }

        .custom-select {
            top: 0;
            right: 0;
            bottom: unset;
            left: unset;
            flex-direction: column;
            background: $background-color;
            z-index: $z-index-lg-9;

            .select-item {
                padding: 0 12px 9px 12px;

                @media only screen and (min-width: 768px) {
                    padding: 0 20px 12px 20px;
                }
            }
        }
    }

    .container {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media only screen and (min-width: 768px) {
            padding: 0;
        }
    }

    h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;

        @media only screen and (min-width: 360px) {
            font-size: 36px;
        }
    }

    h2 {
        margin-top: 24px;
        font-size: 32px;
    }

    h3 {
        margin-top: 18px;
        font-size: 28px;
    }

    h4 {
        margin-top: 10px;
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    a {
        margin: 0 4px;
        display: inline-block;
        color: $primary-color;
        transition: $transition;

        &:hover {
            text-shadow: $primary-color 0 0 2px;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    strong {
        font-weight: 700;
    }

    .agree {
        width: max-content;
        margin-left: auto;
    }
}
