.profile-page {
    .profile-header {
        @include flex-between;
        padding: 8px 16px;

        @media only screen and (min-width: 1280px) {
            padding: 8px 12px 8px 0;
        }
    }

    .profile-body {
        padding: 16px 16px 0;
        display: flex;
        flex-direction: column;
        height: calc(100svh - 60px);

        @media only screen and (min-width: 1280px) {
            padding: 24px 0 40px 0;
        }
    }

    .profile-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 20px;
        color: $light-color;
        font-weight: 700;

        @media only screen and (min-width: 390px) {
            font-size: 22px;
        }

        @media only screen and (min-width: 412px) {
            font-size: 24px;
        }

        @media only screen and (min-width: 768px) {
            gap: 24px;
        }
    }

    .profile-title {
        @include flex-between;
    }

    .profile-edit {
        padding: 8px 8px 8px 10px;
        @include flex-center;
        gap: 4px;
        border-radius: $radius-md;
        background-color: $secondary-light-color;
        font-size: 18px;
        color: $special-color;
        font-weight: 700;
    }

    .MuiAccordionDetails-root {
        padding-left: 8px;
        padding-right: 8px;
    }

    .search-and-sort-wishes {
        margin: 16px 0;

        @media only screen and (min-width: 768px) {
            margin: 24px 0;
        }
    }

    .wish-list {
        grid-template-columns: repeat(auto-fit, minmax(44%, 1fr));
        padding: 6px;
        max-height: 500px;

        @media only screen and (min-width: 768px) {
            margin-top: 24px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 349px));
        }

        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 314px));
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 378px));
        }

        .wish-item {
            .reserved,
            .fulfilled {
                padding: 3px 6px;
                font-size: 14px;
            }
        }
    }

    .profile-wishes-empty {
        width: 100%;
        flex: 1;
        padding: 16px;
        @include flex-center;
        gap: 10px;
        font-size: 16px;
        color: $light-color;
        text-align: center;

        @media only screen and (min-width: 768px) {
            padding: 20px;
            font-size: 18px;
        }

        @media only screen and (min-width: 1366px) {
            padding: 40px;
            font-size: 20px;
        }
    }

    .profile-delete {
        margin-top: auto;
        padding: 8px 0 16px 16px;
        width: 100%;

        .button {
            margin-left: auto;
            padding: 8px;
        }
    }
}
