.welcome-page {
    padding-bottom: 56px;
    width: 100%;
    min-height: 100svh;

    @media only screen and (min-width: 768px) {
        padding: 0;
    }

    // cover
    .cover {
        padding: 0 14px 40px;
        background-image: url("../../assets/images/welcome/cover-bg.png");
        background-size: cover;
        background-position: 76% 50%;
        background-repeat: no-repeat;
        background-color: #1f1f23;
        width: 100%;
        min-height: 830px;

        @media only screen and (min-width: 768px) {
            padding: 0 0 80px;
        }

        @media only screen and (min-width: 1366px) {
            background-position: center;
        }

        .container {
            @media only screen and (min-width: 1280px) {
                padding: 0;
            }
        }
    }

    .head {
        padding: 16px 14px;
        @include flex-between;

        @media only screen and (min-width: 768px) {
            padding: 24px 0;
        }
    }

    .actions {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index-9;
        padding: 8px 14px;
        @include flex-between;
        gap: 20px;
        background: $background-color;

        @media only screen and (min-width: 768px) {
            position: static;
            right: unset;
            bottom: unset;
            left: unset;
            z-index: unset;
            padding: 0;
            gap: 64px;
            background: transparent;
        }
    }

    .auth-actions {
        @include flex-center;
        gap: 16px;

        @media only screen and (min-width: 768px) {
            gap: 24px;
        }
    }

    .button {
        span {
            font-size: 12px;
            line-height: 16px;

            @media only screen and (min-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &.text {
            padding: 11px;
            border: 1px solid $white-color;

            @media only screen and (min-width: 360px) {
                padding: 11px 20px;
            }

            @media only screen and (min-width: 768px) {
                padding: 14px 27px;
            }

            span {
                color: $white-color;
            }

            &:hover {
                border: 1px solid $primary-color;

                span {
                    color: $primary-color;
                }
            }

            &:active {
                border: 1px solid $primary-color;

                span {
                    color: $primary-color;
                }
            }
        }

        &:not(.text) {
            padding: 12px;

            @media only screen and (min-width: 360px) {
                padding: 12px 20px;
            }

            @media only screen and (min-width: 768px) {
                padding: 15px 27px;
            }
        }
    }

    .cover-content {
        @media only screen and (min-width: 1366px) {
            display: grid;
            grid-template-columns: 8fr 9fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 24px;
        }

        @media only screen and (min-width: 1440px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // text block
    .text-block {
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            width: 700px;
        }

        @media only screen and (min-width: 1366px) {
            margin: 0;
            width: auto;
        }

        h1 {
            font-size: 30px;
            line-height: 1.25;
            font-weight: 600;
            color: $white-color;

            @media only screen and (min-width: 500px) {
                text-align: center;
            }

            @media only screen and (min-width: 768px) {
                font-size: 58px;
                text-align: left;
            }
        }

        p {
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500;
            color: $special-color;

            @media only screen and (min-width: 500px) {
                text-align: center;
            }

            @media only screen and (min-width: 768px) {
                margin-top: 24px;
                font-size: 18px;
                text-align: left;
            }

            @media only screen and (min-width: 1366px) {
                width: 90%;
            }

            @media only screen and (min-width: 1440px) {
                width: 80%;
            }
        }
    }

    // action block
    .action-block {
        position: relative;
        margin: 30px auto 0;
        padding: 24px;
        border-radius: $radius-big;
        border: 1px dashed $special-dark-color;
        overflow: hidden;
        background-image: url("../../assets/images/welcome/action-block-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media only screen and (min-width: 500px) {
            width: 400px;
        }

        @media only screen and (min-width: 768px) {
            padding: 40px 24px;
            width: 500px;
        }

        @media only screen and (min-width: 1366px) {
            margin: 0;
            width: 462px;
        }

        h3 {
            font-size: 24px;
            font-weight: 600;
            color: $white-color;
            line-height: 1.5;

            @media only screen and (min-width: 768px) {
                font-size: 28px;
            }
        }

        p {
            margin-top: 8px;
            width: 80%;
            font-size: 14px;
            font-weight: 500;
            color: $special-color;
            line-height: 1.5;

            @media only screen and (min-width: 768px) {
                margin-top: 24px;
                font-size: 16px;
            }
        }

        .button {
            margin-top: 16px;
            width: max-content;

            @media only screen and (min-width: 768px) {
                margin-top: 24px;
            }
        }

        .action-block_gift-big {
            position: absolute;
            right: 24px;
            bottom: 14px;
            width: 71px;
            height: 74px;

            @media only screen and (min-width: 768px) {
                right: 30px;
                bottom: 17px;
                width: 109px;
                height: 113px;
            }
        }

        .action-block_gift-small {
            position: absolute;
            right: 4px;
            bottom: 84px;
            width: 41px;
            height: 42px;

            @media only screen and (min-width: 768px) {
                bottom: 127px;
                width: 62px;
                height: 65px;
            }
        }
    }

    // join
    .join {
        padding: 40px 14px 64px;
        background-image: url("../../assets/images/welcome/cover-bg.png");
        background-size: cover;
        //background-position: 76% 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #1f1f23;

        @media only screen and (min-width: 768px) {
            padding: 80px 0 108px;
        }

        .container {
            @media only screen and (min-width: 1280px) {
                padding: 0;
            }
        }

        .text-block {
            br {
                display: none;

                @media only screen and (min-width: 768px) {
                    display: block;
                }
            }

            @media only screen and (min-width: 1280px) {
                width: 60%;
            }
        }
    }

    .algorithm-wrap {
        margin: 24px 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: 768px) {
            margin: 56px 0 80px;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .algorithm_chain-icon {
        width: 32px;
        height: 32px;

        @media only screen and (min-width: 768px) {
            width: 30px;
            height: 30px;
        }

        &.first {
            transform: rotate(90deg);

            @media only screen and (min-width: 768px) {
                transform: unset;
            }
        }

        &.second {
            transform: rotate(-90deg) scaleX(-1);

            @media only screen and (min-width: 768px) {
                transform: rotate(180deg);
            }
        }
    }

    .foot {
        margin-top: 44px;
    }
}
