.welcome-page {
    width: 100%;
    min-height: 100svh;

    .cover {
        padding: 0 14px 40px;
        background-image: url("../../assets/images/welcome/bg-cover.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #1f1f23;
        width: 100%;
        min-height: 830px;

        @media only screen and (min-width: 768px) {
            padding: 0 0 80px;
        }
    }

    .head {
        padding: 16px 14px;
        @include flex-between;

        @media only screen and (min-width: 768px) {
            padding: 24px 0; // + 24px
        }
    }

    .actions {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index-9;
        padding: 8px 14px;
        @include flex-between;
        gap: 20px;
        background: $background-color;

        @media only screen and (min-width: 768px) {
            position: static;
            right: unset;
            bottom: unset;
            left: unset;
            z-index: unset;
            padding: 0;
            gap: 64px;
            background: transparent;
        }
    }

    .auth-actions {
        @include flex-center;
        gap: 16px;

        @media only screen and (min-width: 768px) {
            gap: 24px;
        }
    }

    .button {
        span {
            font-size: 12px;
            line-height: 16px;

            @media only screen and (min-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }

            @media only screen and (min-width: 1920px) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        &.text {
            padding: 11px;
            border: 1px solid $white-color;

            @media only screen and (min-width: 360px) {
                padding: 11px 20px;
            }

            @media only screen and (min-width: 768px) {
                padding: 14px 27px;
            }

            span {
                color: $white-color;
            }

            &:hover {
                border: 1px solid $primary-color;

                span {
                    color: $primary-color;
                }
            }

            &:active {
                border: 1px solid $primary-color;

                span {
                    color: $primary-color;
                }
            }
        }

        &:not(.text) {
            padding: 12px;

            @media only screen and (min-width: 360px) {
                padding: 12px 20px;
            }

            @media only screen and (min-width: 768px) {
                padding: 15px 27px;
            }
        }
    }
}
