.wish-list-page {
    .wish-list {
        height: calc(100% - 202px);

        @media only screen and (min-width: 390px) {
            height: calc(100% - 207px);
        }

        @media only screen and (min-width: 412px) {
            height: calc(100% - 212px);
        }

        @media only screen and (min-width: 768px) {
            height: calc(100% - 268px);
        }
    }
}
