@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

@mixin flex-wrap {
    @include flex-center;
    flex-wrap: wrap;
    gap: 1em;
}

@mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 1em;
}

@mixin title {
    color: $white-color;
    font-size: 2.4em;
    font-weight: 700;
    text-align: center;
}

@mixin icon-shadow($color) {
    filter: drop-shadow(0 0 10px $color);
}

@mixin action-box($width, $height) {
    @include flex-center;
    padding: 2px;
    width: $width;
    height: $height;
    cursor: pointer;
}

@mixin action-outer-border {
    @include flex-center;
    gap: 2em;
    width: 100%;
    height: 100%;
    border-radius: $radius-big;
    border: 1px solid $black-color;
    background: $secondary-color;
}

@mixin action-inner-border {
    width: 100%;
    height: 100%;
    border-radius: $radius-xl;
    border: 6px solid $secondary-color;
}

@mixin action-content {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-column;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: $radius-xl;
    transition: $transition-slow;
}

@mixin running-lights($color) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
                    from var(--a),
                    $color 0%,
                    $color 5%,
                    transparent 5%,
                    transparent 40%,
                    $color 50%
    );
    filter: drop-shadow(0 15px 50px $black-color);
    border-radius: $radius-big;
    animation: rotating 4s ease-in-out infinite;
}
