@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    @include flex-center;
    flex-direction: column;
}

@mixin running-lights($color) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
                    from var(--a),
                    $color 0%,
                    $color 5%,
                    transparent 5%,
                    transparent 40%,
                    $color 50%
    );
    filter: drop-shadow(0 15px 50px $black-color);
    border-radius: $radius-big;
    animation: rotating 4s ease-in-out infinite;
}
