.account-modal {
    @include flex-column;
    justify-content: center;
    gap: 20px;
    height: 100%;

    .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }
}
