.card {
    position: relative;
    padding: 2px;
    width: 100%;

    .light-one {
        @include running-lights($action-color);
    }

    .light-two {
        @include running-lights($primary-color);
        animation-delay: -1s;
    }

    .outer-border {
        width: 100%;
        border-radius: $radius-big;
        border: 8px solid $accent-color;
        background: $secondary-color;
    }

    &:not(.without-shadow) .outer-border {
        filter: drop-shadow(0 15px 50px $black-color);
    }

    .inner-border {
        width: 100%;
        border-radius: $radius-xl;
        border-width: 40px;
        border-style: solid;
        border-color: $secondary-color;
    }

    .card-content {
        width: 100%;
        @include flex-column;
        box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: $radius-xl;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        background: $accent-color;
        padding: 0 4em;
        transition: all 0.5s;
    }

    .card-title {
        padding: 2.4em 0;
        width: 100%;

        .card-expander {
            padding: 0 0 2.4em;
        }
    }

    .card-expander {
        width: 100%;
        max-height: calc(100svh - 12em);
        overflow-y: auto;
        @include flex-column;
        gap: 2em;
        padding: 2.4em 0.8em 2.4em 0;
        transition: all 0.5s;

        &::-webkit-scrollbar {
            width: 0.4em;
            height: 0.4em;
        }

        &::-webkit-scrollbar-track {
            margin: 2em 0;
        }

        &::-webkit-scrollbar-thumb {
            background: $special-color;
            border-radius: $radius-round;
        }
    }

    &.thin-border {
        .inner-border {
            border-width: 20px;
        }

        .card-content {
            padding: 0 2em;
        }
    }

    &.rolled-up {
        position: relative;

        .inner-border {
            border-width: 60px;
            transition: all 0.5s;
        }

        .card-expander {
            padding: 0;
            max-height: 0;
            overflow: hidden;
        }

        &.thin-border {
            .inner-border {
                border-width: 40px;
            }
        }
    }
}
