.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light-color;
    width: 100%;
    height: 100%;

    h3 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;

        @media only screen and (min-width: 1366px) {
            font-size: 30px;
        }
    }

    p {
        margin-top: 16px;
        @include flex-center;
        gap: 4px;
        font-size: 14px;

        @media only screen and (min-width: 1366px) {
            font-size: 16px;
        }
    }

    .contacts-adapt {
        flex-direction: column;

        @media only screen and (min-width: 390px) {
            flex-direction: row;
        }
    }

    a {
        color: $primary-color;
        font-size: 16px;
        text-decoration: none;

        @media only screen and (min-width: 1366px) {
            font-size: 18px;
        }
    }

    .contacts-social-networks {
        margin-left: 10px;
        @include flex-center;
        gap: 10px;

        a {
            width: 30px;
            height: 30px;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }

        .contacts-tiktok {
            width: 32px;
            height: 32px;
        }

        .contacts-instagram {
            margin-left: 8px;
        }

        .contacts-facebook {
            width: 28px;
            height: 28px;
        }
    }

    .contact-us {
        margin-top: 30px;
        font-size: 12px;
        color: $special-color;
        text-align: center;

        @media only screen and (min-width: 1366px) {
            font-size: 14px;
        }
    }
}
