.cover-figure {
    position: relative;
    margin: 70px auto 0 auto;
    padding: 12px 8px;
    width: 190px;
    background-color: $background-color;
    border-radius: $radius-lg-xl;

    @media only screen and (min-width: 360px) {
        width: 220px;
    }

    @media only screen and (min-width: 390px) {
        width: 240px;
    }

    @media only screen and (min-width: 412px) {
        width: 266px;
    }

    @media only screen and (min-width: 768px) {
        margin: 162px auto 0 auto;
        padding: 24px 16px;
        width: 438px;
        border-radius: $radius-big;
    }

    @media only screen and (min-width: 1366px) {
        grid-column: 2/3;
        grid-row: 1/3;
        transform: translateY(30px);
        margin: auto 70px 0 80px;
    }
}

.cover-figure-emoji-1,
.cover-figure-arrow-1,
.cover-figure-smile-1,
.cover-figure-emoji-2,
.cover-figure-arrow-2,
.cover-figure-smile-2,
.cover-figure-emoji-3,
.cover-figure-arrow-3,
.cover-figure-smile-3,
.cover-figure-emoji-4,
.cover-figure-arrow-4,
.cover-figure-smile-4,
.cover-figure-emoji-5,
.cover-figure-arrow-5 {
    position: absolute;
}

.cover-figure-emoji-1,
.cover-figure-arrow-1,
.cover-figure-smile-1,
.cover-figure-emoji-2,
.cover-figure-arrow-2 {
    transform: translateX(-100%);
}

.cover-figure-smile-2,
.cover-figure-emoji-3,
.cover-figure-arrow-3,
.cover-figure-smile-3 {
    transform: translateY(-100%);
}

.cover-figure-emoji-4,
.cover-figure-arrow-4,
.cover-figure-smile-4,
.cover-figure-emoji-5,
.cover-figure-arrow-5 {
    transform: translateX(100%);
}

.cover-figure-smile-1,
.cover-figure-smile-2,
.cover-figure-smile-3,
.cover-figure-smile-4 {
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 412px) {
        width: 36px;
        height: 36px;
    }

    @media only screen and (min-width: 768px) {
        width: 66px;
        height: 66px;
    }
}

// 111
.cover-figure-emoji-1 {
    bottom: -20px;
    left: 2px;
    width: 64px;
    height: 64px;

    @media only screen and (min-width: 412px) {
        bottom: -24px;
        left: 0;
        width: 70px;
        height: 70px;
    }

    @media only screen and (min-width: 768px) {
        bottom: -52px;
        left: 12px;
        width: 160px;
        height: 160px;
    }
}

.cover-figure-arrow-1 {
    bottom: 38px;
    left: -4px;
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 768px) {
        bottom: 90px;
        left: -8px;
        width: 50px;
        height: 50px;
    }
}

.cover-figure-smile-1 {
    bottom: 112px;
    left: -22px;

    @media only screen and (min-width: 390px) {
        bottom: 124px;
    }

    @media only screen and (min-width: 768px) {
        bottom: 236px;
        left: -60px;
    }
}

// 222
.cover-figure-emoji-2 {
    top: -10px;
    left: 4px;
    width: 66px;
    height: 66px;

    @media only screen and (min-width: 412px) {
        top: -14px;
        width: 72px;
        height: 72px;
    }

    @media only screen and (min-width: 768px) {
        top: -86px;
        left: 20px;
        width: 170px;
        height: 170px;
    }
}

.cover-figure-arrow-2 {
    top: 44px;
    left: 6px;
    width: 40px;
    height: 40px;

    @media only screen and (min-width: 768px) {
        top: 50px;
        left: 10px;
        width: 76px;
        height: 76px;
    }
}

.cover-figure-smile-2 {
    top: -18px;
    left: 10px;

    @media only screen and (min-width: 390px) {
        left: 20px;
    }

    @media only screen and (min-width: 412px) {
        left: 34px;
    }

    @media only screen and (min-width: 768px) {
        top: -48px;
        left: 42px;
    }
}

// 333
.cover-figure-emoji-3 {
    top: -4px;
    left: 64px;
    width: 70px;
    height: 70px;

    @media only screen and (min-width: 360px) {
        left: 76px;
    }

    @media only screen and (min-width: 390px) {
        left: 88px;
    }

    @media only screen and (min-width: 412px) {
        top: -12px;
        left: 106px;
        width: 76px;
        height: 76px;
    }

    @media only screen and (min-width: 768px) {
        top: -14px;
        left: 142px;
        width: 170px;
        height: 170px;
    }
}

.cover-figure-arrow-3 {
    top: 20px;
    left: 100px;
    width: 34px;
    height: 34px;

    @media only screen and (min-width: 360px) {
        left: 112px;
    }

    @media only screen and (min-width: 390px) {
        left: 124px;
    }

    @media only screen and (min-width: 412px) {
        top: 12px;
        left: 142px;
    }

    @media only screen and (min-width: 768px) {
        top: 28px;
        left: 234px;
        width: 64px;
        height: 64px;
    }
}

.cover-figure-smile-3 {
    top: -20px;
    right: -4px;

    @media only screen and (min-width: 390px) {
        right: 12px;
    }

    @media only screen and (min-width: 412px) {
        right: 20px;
    }

    @media only screen and (min-width: 768px) {
        top: -46px;
        right: -6px;
    }
}

// 444
.cover-figure-emoji-4 {
    top: -12px;
    right: -2px;
    width: 60px;
    height: 60px;

    @media only screen and (min-width: 412px) {
        top: -20px;
        right: 0;
        width: 66px;
        height: 66px;
    }

    @media only screen and (min-width: 768px) {
        top: -66px;
        width: 160px;
        height: 160px;
    }
}

.cover-figure-arrow-4 {
    top: 38px;
    right: -4px;
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 768px) {
        top: 70px;
        right: -14px;
        width: 60px;
        height: 60px;
    }
}

.cover-figure-smile-4 {
    bottom: 116px;
    right: -22px;

    @media only screen and (min-width: 390px) {
        bottom: 128px;
    }

    @media only screen and (min-width: 768px) {
        bottom: 222px;
        right: -60px;
    }
}

// 555
.cover-figure-emoji-5 {
    right: -2px;
    bottom: -6px;
    width: 60px;
    height: 60px;

    @media only screen and (min-width: 412px) {
        right: 0;
        bottom: -12px;
        width: 66px;
        height: 66px;
    }

    @media only screen and (min-width: 768px) {
        right: 0;
        bottom: -42px;
        width: 160px;
        height: 160px;
    }
}

.cover-figure-arrow-5 {
    right: 0;
    bottom: 50px;
    width: 32px;
    height: 32px;

    @media only screen and (min-width: 768px) {
        bottom: 102px;
        width: 60px;
        height: 60px;
    }
}

// head
.cover-figure_head {
    @include flex-between;

    h4 {
        font-size: 8px;
        line-height: 14px;
        font-weight: 600;
        color: $white-color;

        @media only screen and (min-width: 360px) {
            font-size: 10px;
        }

        @media only screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    img {
        margin: 0 0 -5px 4px;
        width: 14px;
        height: 14px;

        @media only screen and (min-width: 768px) {
            width: 24px;
            height: 24px;
        }
    }

    span {
        font-size: 6px;
        line-height: 14px;
        font-weight: 600;
        color: $special-color;
        white-space: nowrap;

        @media only screen and (min-width: 360px) {
            font-size: 8px;
        }

        @media only screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 24px;
        }
    }
}

.cover-figure_list {
    margin-top: 12px;
    @include flex-column;
    gap: 4px;

    @media only screen and (min-width: 768px) {
        margin-top: 26px;
        gap: 8px;
    }
}

.cover-figure_item {
    width: 100%;
    height: 48px;
    border-radius: $radius-md;
    border: 1px dashed $secondary-light-color;

    @media only screen and (min-width: 390px) {
        height: 52px;
    }

    @media only screen and (min-width: 412px) {
        height: 58px;
    }

    @media only screen and (min-width: 768px) {
        height: 98px;
        border-radius: $radius-xl;
    }
}

.cover-figure_item:nth-child(2) .cover-figure_block::before,
.cover-figure_item:nth-child(4) .cover-figure_block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius-md;
    background-image: url("../../assets/images/welcome/wishlist-item-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    @media only screen and (min-width: 768px) {
        border-radius: $radius-xl;
    }
}

.cover-figure_item:nth-child(1) {
}

.cover-figure_item:nth-child(2) {
    .cover-figure_block {
        animation-name: wishItemFulfilled-2;
        animation-delay: 4s;

        &::before {
            animation-name: wishAppear;
            animation-delay: 4s;
        }
    }

    .cover-figure_checkbox img {
        animation-delay: 4s;
    }
}

.cover-figure_item:nth-child(3) {
}

.cover-figure_item:nth-child(4) {
    .cover-figure_block {
        animation-name: wishItemFulfilled-4;
        animation-delay: 5s;

        &::before {
            animation-name: wishAppear;
            animation-delay: 5s;
        }
    }

    .cover-figure_checkbox img {
        animation-delay: 5s;
    }
}

.cover-figure_block {
    position: relative;
    height: 100%;
    display: flex;
    padding: 6px 4px 8px 8px;
    border-radius: $radius-md;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    @media only screen and (min-width: 768px) {
        padding: 16px 8px 20px 18px;
        border-radius: $radius-xl;
    }
}

.cover-figure_checkbox {
    position: relative;
    align-self: center;
    min-width: 8px;
    width: 8px;
    height: 8px;
    border-radius: $radius-xxs;
    border: 1px solid $special-color;

    @media only screen and (min-width: 768px) {
        min-width: 16px;
        width: 16px;
        height: 16px;
        border-radius: $radius-xs;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        opacity: 0;
        animation: wishAppear 300ms forwards ease-in-out;

        @media only screen and (min-width: 768px) {
            width: 22px;
            height: 22px;
        }
    }
}

.cover-figure_img {
    position: relative;
    margin-left: 8px;
    align-self: flex-end;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: $radius-sm;
    border: 1px dashed $special-dark-color;
    background-color: $special-deep-dark-color;

    @media only screen and (min-width: 768px) {
        margin-left: 18px;
        min-width: 50px;
        width: 50px;
        height: 50px;
    }

    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 8px);
        width: 34px;
        height: 42px;

        @media only screen and (min-width: 768px) {
            width: 70px;
            height: 90px;
            transform: translate(-50%, 18px);
        }
    }
}

.cover-figure_content {
    margin-left: 12px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
        margin-left: 20px;
    }

    span {
        font-size: 7px;
        line-height: 1.5;
        font-weight: 600;
        color: $white-color;

        @media only screen and (min-width: 390px) {
            font-size: 8px;
        }

        @media only screen and (min-width: 412px) {
            font-size: 9px;
        }

        @media only screen and (min-width: 768px) {
            font-size: 14px;
        }
    }

    p {
        margin-top: 1px;
        font-size: 6px;
        line-height: 1.5;
        font-weight: 600;
        color: $special-color;

        @media only screen and (min-width: 390px) {
            font-size: 7px;
        }

        @media only screen and (min-width: 412px) {
            font-size: 8px;
        }

        @media only screen and (min-width: 768px) {
            font-size: 12px;
        }
    }
}
