.detail-wish {
    @include flex-center;
    padding: 2px;
    width: 100%;

    .detail-wish-outer-border {
        width: 100%;
        border-radius: $radius-big;
        border: 8px solid $accent-color;
        background: $secondary-color;
    }

    .detail-wish-inner-border {
        width: 100%;
        border-radius: $radius-xl;
        border-width: 40px;
        border-style: solid;
        border-color: $secondary-color;
    }

    .detail-wish-content {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2em;
        box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: $radius-lg;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        background: $accent-color;
        padding: 1.6em;

        &.min-height {
            min-height: 550px;
        }
    }

    .detail-wish-swiper {
        position: relative;
        min-width: 410px;
        width: 410px;
        height: 410px;

        .swiper-cube {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-cube .swiper-cube-shadow:before {
            background: $special-color;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            border-radius: $radius-md;
        }

        .swiper-nav {
            top: 100%;
            margin-top: 26px;
            padding: 4px;
            height: 82px;

            .swiper-slide::before {
                content: '';
                position: absolute;
                top: -4px;
                right: -4px;
                bottom: -4px;
                left: -4px;
                border: 2px solid transparent;
                border-radius: 12px;
            }

            .swiper-slide-thumb-active::before {
                border: 2px solid $primary-color;
            }
        }

        .swiper-button-prev {
            margin-left: -10px;
        }

        .swiper-button-next {
            margin-right: -10px;
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            font-size: 20px;
        }
    }

    .detail-wish-wrap {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        max-height: calc(100svh - 17.2em);
        overflow-y: auto;
        padding-right: 0.8em;

        &::-webkit-scrollbar {
            width: 0.4em;
            height: 0.4em;
        }

        &::-webkit-scrollbar-thumb {
            background: $special-color;
            border-radius: $radius-round;
        }
    }

    .detail-wish-name {
        color: $light-color;
        font-size: 2.6em;
        font-weight: 700;
        width: 100%;
    }

    .detail-wish-row {
        display: flex;
        align-items: center;
        gap: 6em;
    }

    .detail-wish-box {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .detail-wish-label {
        color: $special-color;
        font-size: 1.6em;

        .accent {
            color: $light-color;
        }
    }

    .detail-wish-data {
        color: $light-color;
        font-size: 2.2em;
    }

    .detail-wish-description {
        color: $light-color;
        font-size: 18px;

        .label {
            margin-right: 10px;
            color: $special-color;
            font-size: 16px;
            float: left;
            line-height: 20px;
        }
    }

    .detail-wish-action {
        margin: auto 0 0 auto;
    }
}
