.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-9;
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
    transition: $transition;

    &.show {
        transform: scaleY(1);
    }

    @media only screen and (min-width: 768px) {
        max-height: 100%;
        transform: scaleY(1);
        border-radius: 0 0 $radius-xxl $radius-xxl;
        border-right: 4px solid $accent-color;
        border-bottom: 4px solid $accent-color;
        border-left: 4px solid $accent-color;
    }

    .header-inner {
        @media only screen and (min-width: 768px) {
            border-radius: 0 0 $radius-xxl $radius-xxl;
            border-right: 10px solid $secondary-color;
            border-bottom: 10px solid $secondary-color;
            border-left: 10px solid $secondary-color;
        }
    }

    .header-content {
        position: relative;
        @include flex-between;
        padding: 8px 20px;
        background: $accent-color;

        @media only screen and (min-width: 768px) {
            padding: 4px 24px;
            box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 $radius-xl $radius-xl;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    .logo {
        display: none;

        @media only screen and (min-width: 768px) {
            display: block;
        }
    }

    .header-settings-icon {
        margin-left: auto;
        padding: 6px;
    }
}

.wish-hub-icon {
    margin: 0 1px 0 -1px;
    width: 24px;
    height: 24px;
}

.wish-hub-text {
    width: 70px;
}

.modal.confirm .email-box {
    width: 100%;
}

.header-user-data {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 94px;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: right;
    transition: $transition-fast;

    @media only screen and (min-width: 360px) {
        max-width: 132px;
    }

    @media only screen and (min-width: 390px) {
        max-width: 150px;
    }

    @media only screen and (min-width: 412px) {
        max-width: 170px;
    }

    @media only screen and (min-width: 430px) {
        max-width: 180px;
    }

    @media only screen and (min-width: 768px) {
        max-width: 250px;
    }

    &.show {
        transform: scaleX(1);
        opacity: 1;
    }
}

.header-user-name {
    font-size: 16px;
    font-weight: 700;
    color: $light-color;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;

    @media only screen and (min-width: 412px) {
        font-size: 18px;
    }
}

.header-user-email {
    font-size: 14px;
    color: $special-color;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;

    @media only screen and (min-width: 412px) {
        font-size: 16px;
    }
}

.header-avatar-box {
    min-width: 44px;
    width: 44px;
    max-width: 44px;
    min-height: 44px;
    height: 44px;
    max-height: 44px;
}

.header-popup {
    .header-popup-auth {
        margin: 16px 16px 0;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 8px;
        border-radius: $radius-lg;
        background-color: $background-color;

        @media only screen and (min-width: 360px) {
            flex-direction: row;
        }

        .button {
            justify-content: center;
        }

        .button.text {
            padding: 8px 16px;
            border: 1px solid $special-color;
        }

        .button:not(text) {
            padding: 9px 16px;
        }

        a {
            width: 24px;
            height: 24px;
        }
    }

    .header-popup-box {
        padding: 8px;
        @include flex-column-left;
        gap: 4px;

        @media only screen and (min-width: 768px) {
            padding: 8px 16px;
        }

        &:first-child {
            padding-top: 16px;
        }

        & + .header-popup-box {
            border-top: 1px solid $white-deep-opacity-color;
        }

        &:last-child {
            padding-bottom: 16px;
        }
    }

    .button {
        padding: 8px 16px;
        justify-content: flex-start;
        width: 100%;
        transition: $transition;

        &:hover {
            background-color: $secondary-light-color;
        }

        span {
            font-size: 16px;
            line-height: 1;
            color: $light-color;

            @media only screen and (min-width: 768px) {
                font-size: 18px;
            }

            svg,
            img {
                margin-right: 8px;
                width: 24px;
                height: 24px;
                filter: grayscale(1);
            }
        }
    }

    .header-lang {
        display: flex;
        align-items: center;
        gap: 12px;
        white-space: nowrap;
        color: $light-color;
        line-height: 1;
        font-weight: 700;
        padding: 0 16px;
        font-size: 16px;

        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }

        .header-lang-select {
            padding-right: 52px;

            @media only screen and (min-width: 768px) {
                padding-left: 129px;
                padding-right: 0;
            }
        }

        .language-selection {
            height: 40px;
        }

        .custom-select {
            top: 0;
            bottom: unset;
            height: fit-content;
            flex-direction: column;
            background-color: $accent-light-color;

            .select-action {
                padding: 9px 12px;

                @media only screen and (min-width: 768px) {
                    padding: 6px 8px 6px 20px;
                }
            }

            .select-item {
                padding: 0 12px 9px 12px;

                @media only screen and (min-width: 768px) {
                    padding: 6px 20px 12px 20px;
                }
            }
        }
    }

    .header-popup-social-networks {
        margin: 8px auto 0;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        border-radius: $radius-lg;
        background-color: $background-color;

        .button {
            padding: 2px 16px;
            justify-content: center;
            text-decoration: underline;

            &:hover {
                background-color: transparent;
            }

            span {
                font-size: 10px;

                svg {
                    margin-right: 0;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .header-popup-social-networks-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 16px;

        a {
            width: 30px;
            height: 30px;
        }
    }
}
