.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-9;
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
    transition: $transition;

    &.show {
        transform: scaleY(1);
    }

    @media only screen and (min-width: 768px) {
        max-height: 100%;
        transform: scaleY(1);
        border-radius: 0 0 $radius-xxl $radius-xxl;
        border-right: 4px solid $accent-color;
        border-bottom: 4px solid $accent-color;
        border-left: 4px solid $accent-color;
    }

    .header-inner {
        @media only screen and (min-width: 768px) {
            border-radius: 0 0 $radius-xxl $radius-xxl;
            border-right: 10px solid $secondary-color;
            border-bottom: 10px solid $secondary-color;
            border-left: 10px solid $secondary-color;
        }
    }

    .header-content {
        position: relative;
        @include flex-between;
        padding: 5px 20px;
        background: $accent-color;

        @media only screen and (min-width: 768px) {
            padding: 5px 25px;
            box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 $radius-xl $radius-xl;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    .my-user {
        margin: 0 auto;
        @include flex-center;
        gap: 8px;
        text-align: left;

        @media only screen and (min-width: 768px) {
            margin: 0;
        }

        .content {
            padding: 8px 16px 8px 8px;
            display: flex;
            flex-direction: column;
            transition: $transition;

            &:hover {
                background-color: rgba(255, 255, 255, 0.08);
            }
        }

        .name,
        .params {
            width: 100px;
            text-align: left;

            @media only screen and (min-width: 375px) {
                width: 130px;
            }

            @media only screen and (min-width: 412px) {
                width: 196px;
            }

            @media only screen and (min-width: 500px) {
                width: 196px;
            }
        }
    }
    
    .avatar-box {
        position: relative;

        .success {
            right: -4px;
            bottom: 6px;
        }

        .unsuccess {
            right: 4px;
            bottom: -4px;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        @media only screen and (min-width: 1024px) {
            display: block;
        }
    }
}

.wish-hub-icon {
    margin: 0 1px 0 -1px;
    width: 24px;
    height: 24px;
}

.wish-hub-text {
    width: 70px;
}

.change-edit-account {
    @include flex-center;
    gap: 4px;

    @media only screen and (min-width: 430px) {
        gap: 10px;
    }

    @media only screen and (min-width: 768px) {
        gap: 20px;
    }

    button {
        font-size: 12px;
        font-weight: 700;
        color: $special-color;
        text-align: center;

        @media only screen and (min-width: 360px) {
            font-size: 14px;
        }

        @media only screen and (min-width: 412px) {
            font-size: 16px;
        }
    }

    .primary-color {
        color: $primary-color;
    }

    .action-color {
        color: $action-color;
    }
}

.header-actions-account {
    display: flex;
}

.header-edit-account,
.header-change-password {
    width: 0;
    transform: scaleX(0);
    transition: $transition;

    &.show {
        transform: scaleX(1);
        width: 232px;

        @media only screen and (min-width: 360px) {
            width: 272px;
        }

        @media only screen and (min-width: 375px) {
            width: 287px;
        }

        @media only screen and (min-width: 385px) {
            width: 297px;
        }

        @media only screen and (min-width: 390px) {
            width: 302px;
        }

        @media only screen and (min-width: 393px) {
            width: 305px;
        }

        @media only screen and (min-width: 412px) {
            width: 324px;
        }

        @media only screen and (min-width: 414px) {
            width: 326px;
        }

        @media only screen and (min-width: 428px) {
            width: 340px;
        }

        @media only screen and (min-width: 430px) {
            width: 342px;
        }

        @media only screen and (min-width: 768px) {
            width: 378px;
        }

        @media only screen and (min-width: 1366px) {
            width: 400px;
        }
    }
}

.header-edit-account {
    transform-origin: left;
}

.header-change-password {
    transform-origin: right;
}

.modal.confirm .email-box {
    width: 100%;
}

.header-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    color: $light-color;
    font-size: 22px;
    font-weight: 700;

    @media only screen and (min-width: 390px) {
        flex-direction: row;
        transform: translateX(-25px);
        font-size: 24px;
    }

    @media only screen and (min-width: 768px) {
        transform: translateX(-65px);
        height: 150px;
    }

    .custom-select {
        top: 0;
        right: unset;
        bottom: unset;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        background: transparent;
        z-index: $z-index-lg-9;

        @media only screen and (min-width: 390px) {
            left: 0;
            transform: translateX(0);
        }

        .select-item {
            padding: 0 12px 9px 12px;

            @media only screen and (min-width: 768px) {
                padding: 0 20px 12px 20px;
            }
        }
    }
}
