.inactivated {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-big-8;
    width: 100%;
    padding: 16px;
    background-color: $action-color;
    font-size: 14px;
    color: $background-color;
    text-align: center;

    @media only screen and (min-width: 768px) {
        padding: 16px 20px;
        font-size: 16px;
    }

    .inactivated-link {
        display: inline-block;

        span {
            color: $black-color;
            text-decoration: underline;
        }
    }

    .bold {
        margin: 0 4px;
        font-weight: 700;
    }

    a {
        display: inline-block;
    }

    .timer {
        margin-left: 4px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        color: $primary-color;
    }

    .attention {
        font-size: 16px;
        color: $background-color;
        font-weight: 700;

        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }
    }
}