.inactivated {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-big-9;
    @include flex-center;
    width: 100%;
    padding: 0.5em 2em;
    background-color: $action-color;
    color: $background-color;
    font-size: 1.6em;

    span {
        margin: 0 0.4em;
        font-weight: 700;
    }
}
