.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-1;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100svh;
    overflow: hidden;
    background-color: $accent-color;
    transition: $transition;

    &.open {
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        position: static;
        top: unset;
        bottom: unset;
        left: unset;
        z-index: unset;
        width: 45%;
        overflow: unset;
        border-radius: 0 $radius-big $radius-big 0;
        border-top: 4px solid $accent-color;
        border-right: 4px solid $accent-color;
        border-bottom: 4px solid $accent-color;
    }

    @media only screen and (min-width: 1024px) {
        width: 30%;
    }

    .sidebar-inner {
        height: 100%;

        @media only screen and (min-width: 768px) {
            border-radius: 0 $radius-big $radius-big 0;
            border-top: 10px solid $secondary-color;
            border-right: 10px solid $secondary-color;
            border-bottom: 10px solid $secondary-color;
        }
    }

    .sidebar-content {
        height: 100%;
        padding: 46px 4px 10px 0;

        @media only screen and (min-width: 768px) {
            padding: 66px 4px 10px 0;
            box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 $radius-xl $radius-xl;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            background: $accent-color;
        }
    }

    .sidebar-head {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        @media only screen and (min-width: 768px) {
            padding: 16px 20px;
            gap: 20px;
        }
    }

    .sidebar-title {
        color: $light-color;
        font-size: 20px;
        line-height: 30px;
    }

    .users-type {
        @include flex-center;
        gap: 10px;

        span {
            font-size: 16px;
            font-weight: 700;
            color: $special-color;
            transition: $transition-slow;

            &.primary-color {
                color: $primary-color;
            }
        }
    }

    .list {
        height: calc(100svh - 171px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            margin: 64px 0 18px;
        }

        &::-webkit-scrollbar-thumb {
            background: $special-color;
            border-radius: $radius-round;
        }
    }
}
