.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-1;
    transform: scaleX(0);
    transform-origin: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    background-color: $accent-color;
    transition: $transition;

    &.show {
        transform: scaleX(1);
    }

    @media only screen and (min-width: 768px) {
        position: static;
        top: unset;
        bottom: unset;
        left: unset;
        z-index: unset;
        transform: scaleX(1);
        width: 45%;
        overflow: unset;
        border-radius: 0 $radius-xxl $radius-xxl 0;
        border-top: 4px solid $accent-color;
        border-right: 4px solid $accent-color;
        border-bottom: 4px solid $accent-color;
    }

    @media only screen and (min-width: 1024px) {
        width: 30%;
    }

    .sidebar-inner {
        height: 100%;

        @media only screen and (min-width: 768px) {
            border-radius: 0 $radius-xxl $radius-xxl 0;
            border-top: 10px solid $secondary-color;
            border-right: 10px solid $secondary-color;
            border-bottom: 10px solid $secondary-color;
        }
    }

    .sidebar-content {
        height: 100%;
        padding: 70px 4px 20px 0;

        @media only screen and (min-width: 768px) {
            padding: 66px 4px 10px 0;
            box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 $radius-xl $radius-xl;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            background: $accent-color;
        }
    }

    .sidebar-head {
        padding: 4px 16px 8px;
        @include flex-between;
        gap: 10px;

        @media only screen and (min-width: 768px) {
            padding: 10px 20px 8px;
        }
    }

    .sidebar-title {
        color: $light-color;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    .custom-select {
        padding: 8px 16px 4px;

        @media only screen and (min-width: 768px) {
            padding: 8px 20px 4px;
        }
    }

    .sidebar-search {
        padding: 16px;
    }

    .user-list {
        position: relative;
        height: calc(100svh - 246px);
        overflow-y: auto;

        @media only screen and (min-width: 768px) {
            height: calc(100svh - 268px);
        }

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: $special-color;
            border-radius: $radius-round;
        }
    }

    .MuiListItemAvatar-root {
        position: relative;
        min-width: auto;
        padding: 0 8px 0 16px;
        cursor: pointer;
    }

    .MuiListItemButton-root {
        padding-left: 8px;
    }
}
