.wish-card {
    @include flex-center;
    padding: 2px;
    width: 100%;
    min-height: 196px;
    height: 196px;
    max-height: 196px;

    .wish-card-outer-border {
        width: 100%;
        height: 100%;
        border-radius: $radius-big;
        border-width: 8px;
        border-style: solid;
        border-color: $accent-color;
        background: $secondary-color;
        transition: $transition-slow;
    }

    .wish-card-inner-border {
        width: 100%;
        height: 100%;
        border-radius: $radius-xl;
        border-width: 60px 40px;
        border-style: solid;
        border-color: $secondary-color;
        transition: $transition-slow;
    }

    .wish-card-content {
        width: 100%;
        height: 100%;
        @include flex-column;
        box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: $radius-lg;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        background: $accent-color;
        padding: 14px 16px;
    }

    .wish-card-name {
        color: $light-color;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        height: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .wish-card-data {
        @include flex-center;
        gap: 20px;
        margin-top: 0;
        height: 0;
        overflow: hidden;
        transition: $transition-slow;
    }

    .wish-card-img {
        margin-top: 0;
        width: 90px;
        height: 90px;
        border-radius: $radius-md;
    }

    .wish-card-price {
        color: $light-color;
        font-size: 16px;
        text-align: center;
    }

    .action {
        top: -2px;
        right: -2px;

        svg {
            width: 90%;
            height: 90%;
        }
    }

    &.can-hover:hover {
        .wish-card-outer-border {
            border-width: 6px;
        }

        .wish-card-inner-border {
            border-width: 10px;
        }

        .wish-card-data {
            margin-top: 10px;
            height: 90px;
        }
    }
}
