.wish-modal {
    width: 100%;
    padding-top: 4px;
    @include flex-column;

    .material {
        width: 100%;
        @include flex-center;
        gap: 20px;

        span {
            font-size: 16px;
            font-weight: 700;
            color: $special-color;
            transition: $transition-slow;

            &.primary-color {
                color: $primary-color;
            }

            &.action-color {
                color: $action-color;
            }
        }
    }

    .input {
        margin-top: 22px;
    }

    & > .input {
        margin-top: 40px;
    }

    .expander {
        margin-top: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        @include flex-column;
        gap: 20px;

        &.transition {
            transition: $transition-slow;
        }

        &.rolled-up {
            margin-top: 20px;
            max-height: 200px;
        }
    }

    .show {
        margin: 20px auto 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .show-label {
            font-size: 14px;
            color: $primary-color;
        }

        .show-actions {
            @include flex-center;
            gap: 20px;
        }
    }

    .drag-n-drop {
        margin-top: 20px;
    }

    .actions {
        margin-top: 20px;
        width: 100%;
        @include flex-between;
        gap: 10px;
    }

    .remove-all {
        width: max-content;
        background: transparent;
        font-weight: 700;
        font-size: 14px;
        color: $action-color;

        &:hover {
            @include icon-shadow($action-color);
        }
    }

    .sub-actions {
        @include flex-center;
        gap: 20px;
        margin-left: auto;
    }
}
