.wish-settings {
    width: 100%;
    padding-top: 0.4em;
    @include flex-column;

    .material {
        width: 100%;
        @include flex-center;
        gap: 2em;

        span {
            font-size: 1.6em;
            font-weight: 700;
            color: $special-color;
            transition: $transition-slow;

            &.primary-color {
                color: $primary-color;
            }

            &.action-color {
                color: $action-color;
            }
        }
    }

    .input {
        margin-top: 2em;
    }

    & > .input {
        margin-top: 4em;
    }

    .expander {
        margin-top: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        @include flex-column;
        gap: 2em;

        &.transition {
            transition: $transition-slow;
        }

        &.rolled-up {
            margin-top: 2em;
            max-height: 20em;
        }
    }

    .actions {
        margin-top: 2em;
        width: 100%;
        @include flex-between;
        gap: 1em;
    }

    .drag-n-drop {
        margin-top: 2em;
    }

    .remove-all {
        padding: 0.5em 2em;
        width: max-content;
        background: $action-color;
        border-radius: $radius-sm;
        font-weight: 700;
        font-size: 1.4em;
        color: $accent-color;
    }

    .submit {
        margin-left: auto;
    }
}
