.wish-list {
    @include flex-column;
    gap: 2em;
    height: 100%;

    .list {
        @include grid(3);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.6em;
            height: 0.6em;
        }

        &::-webkit-scrollbar-thumb {
            background: $special-color;
            border-radius: $radius-round;
        }
    }

    .text {
        font-size: 1.6em;
        color: $white-color;
    }

    .image-list {
        @include flex-wrap;
    }

    .image-item {
        width: 8em;
        height: 8em;
    }
}
