.wish-item {
    @include flex-center;
    width: 100%;
    min-height: 196px;
    height: 196px;
    max-height: 196px;

    .wish-item-outer-border {
        width: 100%;
        height: 100%;
        border-radius: $radius-big;
        border-width: 6px;
        border-style: solid;
        border-color: $accent-color;
        background: $secondary-color;
        transition: $transition-slow;

        @media only screen and (min-width: 768px) {
            border-width: 8px;
        }
    }

    .wish-item-inner-border {
        width: 100%;
        height: 100%;
        border-radius: $radius-xl;
        border-width: 10px;
        border-style: solid;
        border-color: $secondary-color;
        transition: $transition-slow;

        @media only screen and (min-width: 768px) {
            border-width: 60px 40px;
        }
    }

    .wish-item-content {
        width: 100%;
        height: 100%;
        @include flex-column;
        justify-content: center;
        box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: $radius-lg;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.5);
        background: $accent-color;
        padding: 14px 16px;
    }

    &.i-m-booked .wish-item-content {
        border-color: $primary-color;
    }

    &.booking-expired .wish-item-content {
        animation: borderFlash 1s infinite;
    }

    .wish-item-name {
        color: $light-color;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .wish-item-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        margin-top: 14px;
        transition: $transition-slow;

        @media only screen and (min-width: 768px) {
            margin-top: 0;
            height: 0;
            overflow: hidden;
        }
    }

    .wish-item-img {
        position: relative;
        width: 90px;
        height: 90px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            box-shadow: inset 0 0 6px 6px $accent-color;
        }
    }

    .wish-item-price {
        color: $light-color;
        font-size: 16px;
        text-align: center;
    }

    .action {
        top: -2px;
        right: -2px;

        svg {
            width: 90%;
            height: 90%;
        }
    }

    &.can-hover:hover {
        .wish-item-outer-border {
            border-width: 6px;
        }

        .wish-item-inner-border {
            border-width: 10px;
        }

        .wish-item-data {
            margin-top: 14px;
            height: 90px;
        }
    }
}
