.wish-item {
    position: relative;
    width: 100%;
    border-radius: $radius-md;
    border-width: 2px;
    border-style: dashed;
    border-color: $secondary-light-color;
    cursor: pointer;

    &.example_0 {
        opacity: 0.5;
        cursor: default;
    }

    &.example_1 {
        opacity: 0.4;
        cursor: default;
    }

    &.example_2 {
        opacity: 0.3;
        cursor: default;
    }

    &.example_3 {
        opacity: 0.2;
        cursor: default;
    }

    &.opacity {
        opacity: 0;
        pointer-events: none;
    }

    &.fulfilled .wish-box {
        transform: rotate(-3deg);
        border-color: $primary-color;
        background-image: url("../../../assets/images/welcome/wish-bg.png");
    }

    &.i-m-booked {
        border-color: $action-light-color;
    }

    &.booking-expired {
        animation: borderFlash 1s infinite;
    }

    .wish-box {
        padding: 24px 16px 28px;
        @include flex-column;
        gap: 16px;
        width: 100%;
        height: 100%;
        border-radius: $radius-md;
        border-width: 2px;
        border-style: dashed;
        border-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.reserved-box {
            opacity: 0.5;
        }
    }

    .wish-item-img {
        position: relative;
        padding-top: 100%;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }

        .wish-item-img-effects {
            filter: grayscale(1);
            opacity: 0.1;
        }
    }

    .wish-item-img-icon {
        filter: grayscale(0.75);
    }

    .wish-item-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .wish-item-name {
        color: $light-color;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .wish-item-price {
        color: $special-color;
        font-size: 16px;
        text-align: center;
    }

    .wish-likes {
        position: absolute;
        left: 50%;
        bottom: 4px;
        transform: translateX(-50%);
    }

    .wish-item-edit {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 40px;
        height: 40px;
        border-radius: $radius-md;
        background-color: $secondary-light-color;

        svg {
            width: 60%;
            height: 60%;
        }
    }

    .reserved,
    .fulfilled {
        position: absolute;
        top: 24%;
        left: 50%;
        transform: rotate(-22deg) translateX(-50%);
        transform-origin: left;
        padding: 2px 4px;
        border-radius: $radius;
        border-width: 2px;
        border-style: solid;
        background-color: transparent;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        filter: url(#worn-out);
        backdrop-filter: blur(10px);

        @media only screen and (min-width: 360px) {
            padding: 4px 8px;
            font-size: 16px;
        }

        @media only screen and (min-width: 1024px) {
            top: 34%;
            font-size: 20px;
        }
    }

    .reserved {
        border-color: $action-color;
        color: $action-color;
    }

    .fulfilled {
        border-color: $primary-color;
        color: $primary-color;
    }
}
