.wish-list-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;

    .head {
        padding: 0 10px 0 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

        @media only screen and (min-width: 1024px) {
            padding: 0 10px 0 20px;
            //flex-direction: row;
            //align-items: center;
            //justify-content: space-between;

            & > button {
                order: 1;
            }
        }

        .button {
            padding: 8px 16px;
        }
    }

    .head-top {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }

    .head-share {
        margin-left: auto;
        @include flex-center;
        gap: 6px;

        .inactive {
            opacity: 0.2;
            pointer-events: none;
        }
    }

    .head-share-text {
        margin-right: 6px;
        font-size: 14px;
        color: $special-color;
        text-align: right;
        white-space: nowrap;

        @media only screen and (min-width: 1366px) {
            font-size: 16px;
        }
    }

    .head-bottom {
        @include flex-between;
        width: 100%;
    }

    .wish-hub {
        width: 112px;
        padding: 6px 0;

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    .title-box {
        padding: 0 10px 0 4px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-self: center;

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .wish-list-type {
        margin-right: 6px;
        width: fit-content;
        height: 35px;

        .MuiInputBase-root {
            height: 35px;
        }

        .MuiInput-input {
            background-color: transparent;
            font-weight: 700;
            color: $light-color;
        }
    }

    .title {
        padding: 0 6px;
        width: auto;
        align-self: stretch;
        font-size: 20px;
        line-height: 35px;

        @media only screen and (min-width: 768px) {
            margin: 0;
            height: auto;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 24px;
            text-align: left;
        }
    }

    .title-name {
        max-width: calc(100vw - 34px);
        padding: 0 6px;
        font-style: italic;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        line-height: 35px;
        height: 35px;

        @media only screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 35px;
            height: 35px;
            max-width: 50vw;
        }
    }

    .wish-search {
        width: 100%;
        max-width: 50%;
    }

    .sort-popup-action-text {
        font-size: 14px;
        color: $special-color;
        text-align: right;
        white-space: nowrap;

        @media only screen and (min-width: 1366px) {
            font-size: 16px;
        }
    }

    .create-wish {
        position: relative;
        @include flex-center;
        border-radius: $radius-md;
        border: 2px dashed $secondary-light-color;
    }

    .create-wish-action {
        position: absolute;
        top: 0;
        right: 0;
        @include flex-center;
        width: 100%;
        height: 100%;
        border-radius: $radius-md;
        border-width: 2px;
        border-style: dashed;
        border-color: transparent;
        transition: $transition;

        &:hover {
            transform: rotate(-3deg);
            border-color: $primary-color;
        }
    }

    .create-wish-plus {
        width: 70px;
        height: 70px;
        color: $primary-color;

        @media only screen and (min-width: 1024px) {
            width: 100px;
            height: 100px;
        }
    }

    .empty-box {
        @include flex-center;
        width: 100%;
        height: 100%;
    }

    .empty-text {
        width: 100%;
        @include flex-column;
        font-size: 16px;
        color: $light-color;
        text-align: center;

        @media only screen and (min-width: 1024px) {
            font-size: 24px;
        }
    }

    .empty-name {
        max-width: calc(100vw - 34px);
        padding: 0 2px;
        font-style: italic;
        font-size: 16px;
        color: $light-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px;
        height: 20px;

        @media only screen and (min-width: 768px) {
            max-width: 50vw;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 24px;
            line-height: 30px;
            height: 30px;
        }
    }
}

.wish-list {
    padding: 10px 10px 10px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44%, 1fr));
    gap: 8px;
    width: 100%;
    height: fit-content;
    overflow-y: auto;

    @media only screen and (min-width: 768px) {
        gap: 16px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 10px 10px 10px 20px;
    }

    @media only screen and (min-width: 1366px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @media only screen and (min-width: 1600px) {
        padding: 10px 14px 14px 20px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: $special-color;
        border-radius: $radius-round;
    }
}

.sort-popup {
    padding: 8px 16px;

    .button {
        padding: 4px 16px;
        width: 100%;
        justify-content: flex-end;
        transition: $transition;

        &:hover {
            background-color: $secondary-light-color;
        }
    }
}
