.wish-item {
    position: relative;
    width: 100%;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    border-radius: $radius-md;
    border-width: 1px;
    border-style: dashed;
    border-color: $secondary-light-color;
    cursor: pointer;

    &.alone {
        max-width: 400px;
    }

    &.reserved {
        opacity: 0.5;
    }

    &.fulfilled .wish-box {
        transform: rotate(-3deg);
        border-color: $primary-color;
        background-image: url("../../../assets/images/welcome/wish-bg.png");
    }

    &.i-m-booked {
        border-color: $action-light-color;
    }

    &.booking-expired {
        animation: borderFlash 1s infinite;
    }

    .wish-box {
        padding: 24px 16px;
        @include flex-center;
        gap: 16px;
        width: 100%;
        height: 100%;
        border-radius: $radius-md;
        border-width: 1px;
        border-style: dashed;
        border-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .wish-item-img {
        min-width: 80px;
        width: 80px;
        height: 80px;
        max-height: 80px;

        img {
            min-height: 100%;
            border-radius: $radius-md;
            border: 1px dashed $white-very-opacity-color;
            object-fit: contain;
        }
    }

    .wish-item-data {
        width: calc(100% - 128px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .wish-item-name {
        color: $light-color;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .wish-item-price {
        margin-bottom: 24px;
        color: $special-color;
        font-size: 16px;
        text-align: center;
    }

    .reserved,
    .fulfilled {
        position: absolute;
        top: 12%;
        right: 8%;
        background-color: transparent;
        font-size: 18px;
        font-weight: 700;
    }

    .reserved {
        transform: rotate(-3deg);
        color: $action-light-color;
    }

    .fulfilled {
        color: $primary-color;
    }

    .wish-item-actions {
        position: absolute;
        right: 4px;
        bottom: 4px;
        display: flex;
        align-items: flex-end;

        .wish-likes {
            margin-right: 24px;
        }
    }

    .wish-item-edit {
        width: 40px;
        height: 40px;
        border-radius: $radius-md;
        background-color: $white-deep-opacity-color;

        svg {
            width: 60%;
            height: 60%;
        }
    }
}
